[submodule "/Users/dseyler/.config/nvim"]
	path = /Users/dseyler/.config/nvim
	url = https://github.com/Linkinlog/nvim
	branch = development
[submodule "/Users/dseyler/.config/tmux"]
	path = /Users/dseyler/.config/tmux
	url = git@github.com:Linkinlog/tmux.git
[submodule "/Users/dseyler/.config/zsh"]
	path = /Users/dseyler/.config/zsh
	url = git@github.com:Linkinlog/zsh.git
