[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:Linkinlog/nvim.git
	branch = development
[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:Linkinlog/tmux.git
	branch = development
[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:Linkinlog/zsh.git
	branch = development
